<%- include('header') -%>

<h1>Hello, this is node session</h1> 
<!-- <% if (name === 'rittik') { %> -->
    <h2 class="panel<% if(name === 'rittik')  %> second">>welcome dasgupta </h2>
<!-- <% } else { %>
    <h2 class="default">welcome default</h2> -->
<!-- <% } %> -->
 
<h2>your mobile number <%= mobile %></h2> 

<%- include('footer') -%>
